    @media only screen and (min-width: 1400px) {}
    
    @media only screen and (min-width: 992px) and (max-width: 1200px) {}
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {}
    
    @media only screen and (max-width: 767px) {
    	.main-content-1 , .main-content-2, .main-content-3 {
            height: auto;
            padding: 50px 0px;
        }
        .main-content-1 , .main-content-2 {
            background: url('../img/main-content-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
            position:relative;
        }
        .main-content-2 i.fa {height:50px!important;}
        h1.title{line-height:74px;}
         
    }
    
    @media only screen and (min-width: 480px) and (max-width: 767px) {}
